.container {
    padding: 5px ; 
    border: 1px solid red;
}

.template-card {
    color: white;
    background-color: black;
    font-size:.8rem!important;
    border-radius: 7px ;

    width: 50%;
    height: 7rem;
}

.card-name {
    margin: 10px 0 10px 0;
}

.card-num {
    margin: 10px 0 10px 0;
}

.card-date{
    margin: 10px 0 10px 0;
}

.card-cvv { 
    margin: 10px 0 10px 0;
}

.bt-small {
    background-color: rgb(255, 121, 121);
}